################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dans_Cafe/App_Data/DansCafeDB.mdf
/Dans_Cafe/bin/Dans_Cafe.dll
/Dans_Cafe/bin/Dans_Cafe.pdb
/Dans_Cafe/obj/Debug/Dans_Cafe.csproj.CoreCompileInputs.cache
/Dans_Cafe/obj/Debug/Dans_Cafe.dll
/Dans_Cafe/obj/Debug/Dans_Cafe.pdb
/Dans_Cafe/App_Data/DansCafeDB_log.ldf
/.vs/Dans_Cafe/config/applicationhost.config
/.vs/Dans_Cafe/FileContentIndex/08346363-227e-4192-878f-a9fea52e02bc.vsidx
/.vs/Dans_Cafe/FileContentIndex/0b593391-1c97-4457-95f9-38102fa5f3d7.vsidx
/.vs/Dans_Cafe/FileContentIndex/55331e94-48bf-40d1-82a2-6f537cc8f0d5.vsidx
/.vs/Dans_Cafe/FileContentIndex/c28b9d71-51ad-4fa5-9fae-b8dc7a5ce06a.vsidx
/.vs/Dans_Cafe/FileContentIndex/ce70db31-98db-4589-a2c3-34dfbfbe8ebe.vsidx
/.vs/Dans_Cafe/v17/.suo
/.vs/Dans_Cafe/v17/DocumentLayout.json
