
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 5px;
    padding: 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup_box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 5px;
}

.signup-header h2 {
    text-align: center;
    margin-bottom: 20px;
}

#signup_button {
    background-color: #4B3621;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-content: center;
}

    #signup_button:hover {
        background-color: #9F8170;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.error-message {
    color: red;
    font-size: 80%;
}
